@import "utils";
@import "reboot";

.main-header {
  background-image: url("../img/bg-1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
  // navbar
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
    opacity: 0.8;
    color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding: 0 3rem;

    .brand {
      font-weight: 400;
      font-size: 3rem;

      span {
        color: $warning;
      }
    }

    ul {
      display: flex;
      a {
        color: $white;
        padding: 1rem 2rem;
        margin: 0 0.5rem;

        &:hover {
          border-bottom: 0.2rem solid $warning;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    h1 {
      font-size: 5.5rem;
    }

    p {
      font-size: 2.3rem;
      max-width: 60rem;
      margin: 2rem 0 3rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  * {
    z-index: 0;
  }
}

.main-body {
  #services {
    padding: 3rem;

    .flex-items {
      justify-content: center;
      text-align: center;
      height: 100%;

      > div {
        padding: 2rem;
        flex-basis: 100%;
      }
    }

    h3 {
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

    i {
      background-color: $primary;
      color: #fff;
      padding: 1rem;
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }
  }

  .about {
    color: #fff;

    .column-1 {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .column-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 3rem;

      h2 {
        font-size: 4rem;
        font-weight: 400;
      }

      p {
        margin: 2rem 0;
      }
    }
  }

  #gallery {
    img:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 0.2s;
    }
  }

  #rooms {
    .flex-items {
      justify-content: center;
      text-align: center;
      height: 100%;
      gap: 1rem;
    }
  }

  #teams {
    .flex-items {
      justify-content: center;
      text-align: center;
      height: 100%;

      > div {
        padding: 20px;
        flex-basis: 100%;

        img {
          clip-path: circle(39% at 50% 50%);
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
