@import "utils";
@import "reboot";

// navbar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
    opacity: .8;
    color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding: 0 3rem;

    .brand {
        font-weight: 400;
        font-size: 3rem;

        span {
            color: $warning;
        }
    }

    ul {
        display: flex;
        a {
            color: $white;
            padding: 1rem 2rem;
            margin: 0 .5rem;
        
            &:hover {
                border-bottom: .2rem solid $warning;
            }
        }
    }
}