@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #6c757d;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.text-info {
  color: #17a2b8;
}

.text-dark {
  color: #343a40;
}

.text-light {
  color: #f8f9fa;
}

.bg-primary {
  background-color: #007bff;
}

.bg-secondary {
  background-color: #6c757d;
}

.bg-success {
  background-color: #28a745;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-dark {
  background-color: #343a40;
}

.bg-light {
  background-color: #f8f9fa;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
}

.btn-warning {
  color: #fff;
  background-color: #ffc107;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
}

.btn-light {
  color: #343a40;
  background-color: #f8f9fa;
}

.btn-outline-primary {
  border: 1px solid #007bff;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-secondary {
  border: 1px solid #6c757d;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-success {
  border: 1px solid #28a745;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-danger {
  border: 1px solid #dc3545;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-warning {
  border: 1px solid #ffc107;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-info {
  border: 1px solid #17a2b8;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark {
  border: 1px solid #343a40;
  color: #343a40;
  background-color: transparent;
}

.btn-outline-light {
  border: 1px solid #f8f9fa;
  color: #fff;
  background-color: transparent;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffc107;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
}

.btn-outline-light:hover {
  color: #343a40;
  background-color: #f8f9fa;
}

.flex-items {
  display: flex;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-columns .column {
  flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-reverse .row {
  flex-direction: row-reverse;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}
.section-header h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

.section-padding {
  padding: 2rem 2rem 4rem;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.4rem;
}
.flex-grid .column {
  flex: 25%;
  padding: 0 0.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.main-header {
  background-image: url("../img/bg-1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
.main-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  opacity: 0.8;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
}
.main-header .navbar .brand {
  font-weight: 400;
  font-size: 3rem;
}
.main-header .navbar .brand span {
  color: #ffc107;
}
.main-header .navbar ul {
  display: flex;
}
.main-header .navbar ul a {
  color: #fff;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}
.main-header .navbar ul a:hover {
  border-bottom: 0.2rem solid #ffc107;
}
.main-header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.main-header .content h1 {
  font-size: 5.5rem;
}
.main-header .content p {
  font-size: 2.3rem;
  max-width: 60rem;
  margin: 2rem 0 3rem;
}
.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.main-header * {
  z-index: 0;
}

.main-body #services {
  padding: 3rem;
}
.main-body #services .flex-items {
  justify-content: center;
  text-align: center;
  height: 100%;
}
.main-body #services .flex-items > div {
  padding: 2rem;
  flex-basis: 100%;
}
.main-body #services h3 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.main-body #services i {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.main-body .about {
  color: #fff;
}
.main-body .about .column-1 img {
  width: 100%;
  height: 100%;
}
.main-body .about .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}
.main-body .about .column-2 h2 {
  font-size: 4rem;
  font-weight: 400;
}
.main-body .about .column-2 p {
  margin: 2rem 0;
}
.main-body #gallery img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}/*# sourceMappingURL=style.css.map */